
<h1>{page.pageTitle}</h1>
<p>{site.companyName}</p>

<p>{page.description}</p>

<form id="accountCreate" action="/api/users" method="post">
	<div class="error"></div>
	<ul>
		<li>
			<label>first name</label>
			<input type="text" name="firstName">
		</li>
		<li>
			<label>last name</label>
			<input type="text" name="givenName">
		</li>
		<li>
			<label>phone number</label>
			<input type="number" name="phoneNumber">
		</li>
		<li>
			<label>password</label>
			<input type="password" name="password">
		</li>
		<li>
			<label>agree to terms?</label>
			<input type="checkbox" name="terms">
		</li>
		<li class="cta">
			<button type="submit">Sign up</button>
		</li>
	</ul>
</form>