
<h1>{page.pageTitle}</h1>
<p>{site.companyName}</p>

<p>{page.description}</p>

<form id="accountEdit" action="/api/users" method="put">
	<div class="error"></div>
	<ul>
		<li>
			<label>first name</label>
			<input type="text" name="firstName">
		</li>
		<li>
			<label>last name</label>
			<input type="text" name="givenName">
		</li>
		<li>
			<label>phone number</label>
			<input type="number" name="phoneNumber" disabled>
		</li>
		<li>
			<label>password</label>
			<input type="password" name="password">
		</li>
		<li>
			<label>agree to terms?</label>
			<input type="checkbox" name="terms">
		</li>
		<li class="cta">
			<button type="submit">Save</button>
		</li>
	</ul>
</form>

<h2>Delete you account</h2>
<form id="accountDelete" action="/api/users" method="delete">
	<div class="warning">This action cannot be undone.</div>
	<input type="hidden" name="phoneNumber" value="01234567891">
	<button type="submit">Delete account</button>
</form>