
<h1>{page.pageTitle}</h1>
<p>{site.companyName}</p>

<p>{page.description}</p>


<table id="checks">
  <tr>
    <th>Method</th>
    <th>Protocol</th>
    <th>URL</th>
    <th>State</th>
    <th>Details</th>
  </tr>
  <tr>
    <td colspan="5" id="nochecks">No checks found</td>
  </tr>
</table>

<p id="cta">
  <a href="/checks/create">New Check</a>
</p>
