
<h1>{page.pageTitle}</h1>
<p>{site.companyName}</p>

<p>{page.description}</p>

<p><a class="backButton" href="/checks/list">Back</a></p>

<hr />

<form id="checksCreate" action="/api/check" method="post">
  <div class="error"></div>
  <ul>
    <li>
      <label for="protocol">Protocol</label>
      <select name="protocol" id="protocol">
        <option value="http" selected>http://</option>
        <option value="https">https://</option>
      </select>
    </li>
    <li>
      <label for="url">URL (not including protocol)</label>
      <input type="text" name="url" id="url" placeholder="mywebsite.com/my/path">
    </li>
    <li>
      <label for="successCodes">Success Codes (HTTP codes that should represent "up")</label>
        <input type="checkbox" name="successCodes" id="successCodes" value="200" checked> 200
        <input type="checkbox" name="successCodes" value="201" checked> 201
        <input type="checkbox" name="successCodes" value="301"> 301
        <input type="checkbox" name="successCodes" value="302"> 302
        <input type="checkbox" name="successCodes" value="400"> 400
        <input type="checkbox" name="successCodes" value="403"> 403
        <input type="checkbox" name="successCodes" value="404"> 404
        <input type="checkbox" name="successCodes" value="406"> 406
        <input type="checkbox" name="successCodes" value="500"> 500
    </li>
    <li>
      <label for="method">HTTP Method</label>
      <select name="method" id="method">
        <option value="post">POST</option>
        <option value="get" selected>GET</option>
        <option value="put">PUT</option>
        <option value="delete">DELETE</option>
      </select>
    </li>
    <li>
      <label for="timeoutSeconds"></label>
      <select class="intval" name="timeoutSeconds" id="timeoutSeconds">
        <option value="1">1 second</option>
        <option value="2">2 seconds</option>
        <option value="3">3 seconds</option>
        <option value="4">4 seconds</option>
        <option value="5">5 seconds</option>
      </select>
    </li>
    <li class="cta">
      <button type="submit" class="cta green">Create Check</button>
    </li>
  </ul>
</form>
