
<h1>{page.pageTitle}</h1>
<p>{site.companyName}</p>

<p>Uptime monitoring of any website</p>

<ul class="cta">
	<li><a href="account/create">start</a></li>
	<li><a href="session/create">login</a></li>
</ul>