
<h1>{page.pageTitle}</h1>
<p>{site.companyName}</p>

<p>{page.description}</p>

<form id="sessionCreate" action="/api/tokens" method="post">
	<div class="error"></div>
	<ul>
		<li>
			<label>phone number</label>
			<input type="tel" name="phoneNumber">
		</li>
		<li>
			<label>password</label>
			<input type="password" name="password">
		</li>
		<li class="cta">
			<button type="submit">Login</button>
		</li>
	</ul>
</form>